html{
    background-color: azure;
    justify-content: center;
    align-items: center;
    padding-left: 25%;
}

.container{
    width: 650px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
   
}

header{
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    color:purple;
}   

.formulario{
    font-family: Arial, Helvetica, sans-serif;
}

label{
    font-weight: bold;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
}



.textos{
    width: 250px;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

.selecao{
    width: 150px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
.foto{
    font-size: 13pt;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    margin-top: 20px;
    padding: 2px;
}
#botoes{
    border-style: none;
    color: white;
    background-color: purple;
    border-width: 250px;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    font-size: large;    
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}
