html{
    background-color:white;
    text-align: center;
    border-radius: 30%;
    padding: 35%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(136, 7, 136);
}
table{
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    align-items: center;
    text-align: center;
    border-width: 1px;
    background-color:aliceblue;
    width: 400px;
    height: 500px;
}
td{
    border-style:solid;
    border-width: 1px;
    border-radius: 7px;
    background-color:white;
    border-color: black;
    padding: 1px;
}
th{
    border-style:solid;
    border-width: 1px;
    border-radius: 7px;
    padding: 3px;
    background-color:white;
    border-color: black;
}

.tela-toda{
    
    border-style: none;
    border-radius: 25px;
    align-items: center;
    text-align: center;
}
.itens{
    font-weight: bold;
}
